* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


nav {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:18px 8%;
}

ul {

    display: flex;
    gap: 20px;
    list-style: none;
    align-items: center;
}

li>a {
    text-decoration: none;
    color: #575757
}

.common-btn{

    background-color: blue;
    color: white;
    padding: 10px 30px;
    border-radius: 20px;
    border:none;
}